@model IPZ_1.Models.ViewModels.HomeVM

<div class="container">
	<div class="text-center">
		<button class="btn btn-dark filter-button" data-filter="all">All</button>
		@foreach (var obj in Model.Categories)
		{
			<button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">@obj.Name</button>
		}
	</div>
	<br />
	<div class="row">
		@foreach (var prod in Model.Products)
		{
			<partial name="_IndividualProductCard" model="prod" />
			// display all products
		}
	</div>
</div>


@section Scripts
	{

	<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script>

		function waitForMsg() {
			//alert("Привет");
			/* Запрос к /Home/YourAction */
			$.ajax({
				type: "POST",
				url: "@Url.Action("Home","Details")",
				//async: true,
				//cache: false,
				//timeout: 15000, /* Тайм аут обращения (как раз нужно для организации пуллинга) */
				success: function (data) { /* Будет вызвано, если метод будет обработан верно */
					addmsg("new", data);
					alert("Привет");/* Добавление ответа с сервера */
					waitForMsg(); //Опять пошлем на сервер долгоиграющий запрос
				},
				//Будет вызвано, если возникнет ошибка
				error: function () {
					alert("Error");
				}
			});
		};



		$(document).ready(function () {
			
			$(".filter-button").click(function () {

				var value = $(this).attr('data-filter');
				if (value == "all") {
					$('.filter').show('1000');
				}
				else {
					$(".filter").not('.' + value).hide('3000');
					$('.filter').filter('.' + value).show('3000');

				}
			});

		});
	</script>


}
